spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dubu
    username: root
    password: bb27655100
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create  # 스키마 자동 생성
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true      # SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # SQL pretty print
server:
  port : 8080